---
interface Props {
	title: string;
	language: string;
	description: string;
}

const { title, language, description } = Astro.props;
const gtagCode = import.meta.env.PUBLIC_GTAG;
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<script async src={`https://www.googletagmanager.com/gtag/js?id=${gtagCode}`}></script>
		<script define:vars={{ gtagCode }}>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', gtagCode);
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@reference "../styles/global.css";
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		@apply bg-background;
	}
</style>
